@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RobotoRegular&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RobotoMedium:wght@500&display=swap');


//Home
.space{
    height: 130px;
}

.conteudoHome{
    // background-color: red;
    margin-top: -95px;
    position: relative;
}

.textSizeBotton{
    font-size:15px;
}
.button{
    background-color:#006996;
    // font-weight: bold;
}
.button:hover{
    background-color:#023770;
    cursor: pointer;
}
.titleDescrition{
    font-size: 30px;
    font-weight: bold;
    // background-color: red;
    font-family: 'Roboto', sans-serif;
}
.Descrition{
    // background-color: #023770;
    font-size: 18px;
    color: #2E3033;
    font-family: 'RobotoRegular', sans-serif;
}
.descritionAgende{
    // background-color: red;
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
}
.subtitulo{
    color:#2E72E0;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 14px;
}
.emBranco{
    height: 150px;
    background-color: white;
}
.fontdaModal{
    font-family: 'RobotoRegular', sans-serif;
    font-weight: bold;
    font-size: 18px;

}
h6{
    font-family: 'RobotoRegular', sans-serif;
}
select{
    font-family: 'RobotoRegular', sans-serif;
}
.divModal{
    height: 315px;
}