<div class="col-12 space blueHeader">
</div>

<div class="col-12 conteudoHome d-flex justify-content-center">
    <div class="col-10">
        <div class="col-12 d-flex justify-content-center">

            <div class="col-6 rounded mt-2 d-flex justify-content-center">
                <div style="z-index: 3; position: absolute;" (click)="open(video, 'lg')" class="divModal col-5">
                </div>
                <iframe class="rounded col-11" width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>

            <div class="col-6 ms-2 rounded mt-2 d-flex justify-content-center">
                <div style="z-index: 3; position: absolute;" (click)="open(video, 'lg')" class="divModal col-5">
                </div>
                <iframe class="rounded col-11" width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="col-6 rounded mt-5 d-flex justify-content-center">
                <div style="z-index: 3; position: absolute;" (click)="open(video, 'lg')" class="divModal col-5">
                </div>
                <iframe class="rounded col-11" width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>
            <div class="col-6 ms-2 rounded mt-5 d-flex justify-content-center">
                <div style="z-index: 3; position: absolute;" (click)="open(video, 'lg')" class="divModal col-5">
                </div>
                <iframe class="rounded col-11" width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-4">
            <div class="col-2 rounded-5 button text-center text-white font-weight-bold robotoRegular 
            textSizeBotton p-1" (click)="open(mymodal, 'md')">
                Mais vídeos
            </div>
        </div>
        <div class="col-12 d-flex mt-5">
            <div class="col-6 mt-5">
                <div class="col-11 p-1 ms-3 titleDescrition">
                    Fique por dentro dos principais assuntos da atualidade
                </div>
                <div class="col-10 ms-3 mt-2 p-1 Descrition">
                    Já imaginou pegar dicas rápidas sobre saúde e qualidade
                    de vida para aplicar imediatamente na sua rotina? Ou então
                    conhecer mais sobre aquele tema que todos os seus
                    colegas de tabalho estão comentando? O SEST SENAT
                    torna isso possível com Talks.
                </div>
                <div>
                    <div class="col-5 ms-3 mt-4 rounded-5 button text-center text-white font-weight-bold robotoRegular 
                    textSizeBotton p-1" (click)="open(mymodal, 'md')">
                        Acessar todos os vídeos
                    </div>
                </div>
            </div>
            <div class="col-6  mt-5 d-flex justify-content-center">
                <div class="col-12">
                    <img src="../../../assets/home/descricao_video_grande.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 bg-warning border-bottom mt-3">
            <!-- Em branco -->
        </div>
        <div class="col-12 mt-4 d-flex">
            <div class="col-4 mt-4">
                <div class="col-11 mt-2 ms-3 subtitulo">
                    CUIDE TAMBÉM DA SAÚDE
                </div>
                <div class="col-11 mt-3 descritionAgende ms-3">
                    Agende uma consulta de avaliação com nosso especialistas
                </div>
                <div class="col-10">
                    <div class="col-7 mt-3 ms-3 rounded-5 button text-center text-white font-weight-bold robotoRegular 
                    textSizeBotton p-1" (click)="open(mymodal, 'md')">
                        Agendar Consulta
                    </div>
                </div>
            </div>
            <div class="col-8 mt-4 d-flex">
                <div class="col-2 mt-1 ms-4">
                    <img src="../../../assets/home/img-1.png" alt="">
                </div>
                <div class="col-2 mt-1 ms-5">
                    <img src="../../../assets/home/img-2.png" alt="">
                </div>
                <div class="col-2 mt-1 ms-5">
                    <img src="../../../assets/home/img-3.png" alt="">
                </div>
                <div class="col-2 mt-1 ms-5">
                    <img src="../../../assets/home/img-4.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 mt-5 d-flex">
            <div class="col-6 mt-4">
                <img class="ms-2" src="../../../assets/home/curriculo.png" alt="">
            </div>
            <div class="col-6 mt-4 ms-2">
                <div class="col-11 mt-5 ms-3 subtitulo">
                    TURBINE SEU CURRICULO
                </div>
                <div class="col-11 mt-3 descritionAgende ms-3">
                    Aumente suas chances no mercado de trabalho com nossos cursos
                </div>
                <div>
                    <div class="col-4 mt-3 ms-3 rounded-5 button text-center text-white font-weight-bold robotoRegular 
                    textSizeBotton p-1" (click)="open(mymodal, 'md')">
                        Encontre um curso
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 emBranco">
        </div>
    </div>
</div>
<ng-template #video modal-lg class="p-0">
    <div style=" height: 400px;" class="modal-body p-0">
        <iframe class="col-12 p-0" width="600" height="400"
            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>
</ng-template>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <img src="../../../assets/logo/logo-modal.png" alt="">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-12 fontdaModal p-3">
            Escolha a unidade mais próxima de você
        </div>
        <div class="col-12 p-3">
            <h6 class="ms-2">Selecione seu estado</h6>
            <select class="form-select rounded-5" aria-label="Default select example">
                <option selected>Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>
        <div class="col-12 p-3">
            <h6 class="ms-2">Selecione a Unidade mais próxima</h6>
            <select class="form-select rounded-5" aria-label="Default select example">
                <option selected>Selecione</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="modal-footer mt-3 d-flex justify-content-center">
        <div class="col-4 mt-3 ms-3 rounded-5 button text-center text-white font-weight-bold robotoRegular 
        textSizeBotton p-1">
            Acessar conteúdo
        </div>
    </div>
</ng-template>