<div class="col-12 space blueHeader">
</div>
<div class="col-12 conteudoHome d-flex justify-content-center">
    <div class="col-10">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-6 rounded mt-2 d-flex justify-content-center">
                <iframe class="rounded col-11" width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>
            <div class="col-6 ms-2 rounded mt-2 d-flex justify-content-center">
                <iframe class="rounded col-11" width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="col-6 rounded mt-5 d-flex justify-content-center">
                <iframe class="rounded col-11" width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>
            <div class="col-6 ms-2 rounded mt-5 d-flex justify-content-center">
                <iframe class="rounded col-11" width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-4">
            <div class="col-2 rounded-5 button text-center text-white font-weight-bold robotoRegular 
            textSizeBotton p-1">
                Mais vídeos
            </div>
        </div>
        <div class="col-12 d-flex mt-5">
            <div class="col-6 mt-5">
                <div class="col-11 p-1 ms-3 titleDescrition">
                    Fique por dentro dos principais assuntos da atualidade
                </div>
                <div class="col-10 ms-3 mt-2 p-1 Descrition">
                    Já imaginou pegar dicas rápidas sobre saúde e qualidade
                    de vida para aplicar imediatamente na sua rotina? Ou então
                    conhecer mais sobre aquele tema que todos os seus
                    colegas de tabalho estão comentando? O SEST SENAT
                    torna isso possível com Talks.
                </div>
                <div>
                    <div class="col-5 ms-3 mt-4 rounded-5 button text-center text-white font-weight-bold robotoRegular 
                    textSizeBotton p-1">
                        Acessar todos os vídeos
                    </div>
                </div>
            </div>
            <div class="col-6  mt-5 d-flex justify-content-center">
                <div class="col-12">
                    <img src="../../../assets/home/descricao_video_grande.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 bg-warning border-bottom mt-3">
            <!-- Em branco -->
        </div>
        <div class="col-12 mt-4 d-flex">
            <div class="col-4 mt-4">
                <div class="col-11 mt-2 ms-3 subtitulo">
                    CUIDE TAMBÉM DA SAÚDE
                </div>
                <div class="col-11 mt-3 descritionAgende ms-3">
                    Agende uma consulta de avaliação com nosso especialistas
                </div>
                <div class="col-10">
                    <div class="col-7 mt-3 ms-3 rounded-5 button text-center text-white font-weight-bold robotoRegular 
                    textSizeBotton p-1">
                        Agendar Consulta
                    </div>
                </div>
            </div>
            <div class="col-8 mt-4 d-flex">
                <div class="col-2 mt-1 ms-4">
                    <img src="../../../assets/home/img-1.png" alt="">
                </div>
                <div class="col-2 mt-1 ms-5">
                    <img src="../../../assets/home/img-2.png" alt="">
                </div>
                <div class="col-2 mt-1 ms-5">
                    <img src="../../../assets/home/img-3.png" alt="">
                </div>
                <div class="col-2 mt-1 ms-5">
                    <img src="../../../assets/home/img-4.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 mt-5 d-flex">
            <div class="col-6 mt-4">
                <img class="ms-2" src="../../../assets/home/curriculo.png" alt="">
            </div>
            <div class="col-6 mt-4 ms-2">
                <div class="col-11 mt-5 ms-3 subtitulo">
                    TURBINE SEU CURRICULO
                </div>
                <div  class="col-11 mt-3 descritionAgende ms-3">
                    Aumente suas chances no mercado de trabalho com nossos cursos
                </div>
                <div>
                    <div class="col-4 mt-3 ms-3 rounded-5 button text-center text-white font-weight-bold robotoRegular 
                    textSizeBotton p-1">
                        Encontre um curso
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 emBranco">
        </div>
    </div>
</div>