/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RobotoRegular:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RobotoBold:wght@700&display=swap');


.blueHeader{
    background-color: #003770;
}

.flutuante{
    width: 170%;
    margin-left: 100px;
    position: relative;
    margin-top: 7%;
}
.flutuanteConteudo{
    width: 170%;
    margin-left: 100px;
    position: relative;
    margin-top: 3%;
}
.robotoBold900{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 45px;
    font-weight: bold;
}
.robotoRegular{
    font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
    line-height:21px
}
.robotoBold{
    font-family: 'RobotoBold', sans-serif;
    font-size: 42px;
    font-weight: bold;
}
.button-cliente{
    font-size: 11px;
    font-weight: bold;
    font-family: 'RobotoRegular', sans-serif;
    border-radius: 12px;
    color: #fff;
    background-color: #006996;

}
.button-cliente:hover{
    border: #003770 1px solid;
    color: #003770;
}