<div class="col-12 conteudoHome d-flex justify-content-center">
    <div class="col-10">
        <div class="col-12 d-flex">
            <div class="col-6 title mt-5">
                Todos os videos
            </div>
            <div class="col-6 d-flex ">
                <div class="col-6 filtroTitle d-flex justify-content-end p-3 mt-5">
                    Filtrado por Assunto
                </div>
                <div class="col-6 p-2 mt-5">
                    <select class="form-select rounded-5" aria-label="Default select example">
                        <option selected>Selecione</option>
                        <option value="AC">assunto 1</option>
                        <option value="AL">assunto 2</option>
                        <option value="AP">assunto 3</option>
                        <option value="AM">assunto 4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="col-12 titleVideos">
                Desenvolvimento Profissional
            </div>
            <div class="col-12 d-flex">
                
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Segurança com Motos - Evite acidentes
                        </div>
                        <div class="col-12 mt-5 assista ms-4 p-2">
                            <H6  class="assista">ASSISTA
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                            
                        </div>
                    </div>
                </div>
               

                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                           Iniciando sua carreira profissional - Jovem Aprendiz
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">ASSISTA
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
             
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            As 5 atitudes que você pode ter para uma vida mais equilibrada
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">ASSISTA
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex">
                
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Operador de máquinas precisa de habilitação?
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">ASSISTA
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
               

                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">ASSISTA
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>

        <div class="col-12 mt-5 ">
            <div class="col-12 titleVideos ">
                Psicologia
            </div>
            <div class="col-12 d-flex">
                
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
               

                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
             
             
            </div>
        </div>

        <div class="space"></div>

        <div class="col-12 mt-5">
            <div class="col-12 titleVideos">
                Nutrição
            </div>
            <div class="col-12 d-flex">
                
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
               

                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
             
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex">
                
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="space"></div>

        <div class="col-12 mt-5">
            <div class="col-12 titleVideos">
                Odontotologia
            </div>
            <div class="col-12 d-flex">
                
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
               

                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space"></div>
        <div class="col-12 mt-5">
            <div class="col-12 titleVideos">
                Fisioterapia
            </div>
            <div class="col-12 d-flex">
                
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
               

                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
             
                <div class="col-4 mt-3 videosStyle">
                    <div class="col-12  p-4">
                        <div class="col-12 d-flex justify-content-center">
                            <iframe class="col-11 p-0 rounded-3" height="210"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                        <div class="col-12 titleStyleVideos p-2 ms-3">
                            Controle do exercicío físico através do monitoramento da Frequência cardíaca
                        </div>
                        <div class="col-12 mt-5 assista ms-4">
                            <H6  class="assista">SAIBA MAIS
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </H6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="space"></div>
        <div class="col-12 bg-warning border-bottom mt-3">
            <!-- Em branco -->
        </div>
        <div class="col-12 mt-4 d-flex">
            <div class="col-4 mt-4">
                <div class="col-11 mt-2 ms-3 subtitulo">
                    CUIDE TAMBÉM DA SAÚDE
                </div>
                <div class="col-11 mt-3 descritionAgende ms-3">
                    Agende uma consulta de avaliação com nosso especialistas
                </div>
                <div class="col-10">
                    <div class="col-7 mt-3 ms-3 rounded-5 button text-center text-white font-weight-bold robotoRegular 
            textSizeBotton p-1">
                        Agendar Consulta
                    </div>
                </div>
            </div>
            <div class="col-8 mt-4 d-flex">
                <div class="col-2 mt-1 ms-4">
                    <img src="../../../assets/home/img-1.png" alt="">
                </div>
                <div class="col-2 mt-1 ms-5">
                    <img src="../../../assets/home/img-2.png" alt="">
                </div>
                <div class="col-2 mt-1 ms-5">
                    <img src="../../../assets/home/img-3.png" alt="">
                </div>
                <div class="col-2 mt-1 ms-5">
                    <img src="../../../assets/home/img-4.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 mt-5 d-flex">
            <div class="col-6 mt-4">
                <img class="ms-2" src="../../../assets/home/curriculo.png" alt="">
            </div>
            <div class="col-6 mt-4 ms-2">
                <div class="col-11 mt-5 ms-3 subtitulo">
                    TURBINE SEU CURRICULO
                </div>
                <div class="col-11 mt-3 descritionAgende ms-3">
                    Aumente suas chances no mercado de trabalho com nossos cursos
                </div>
                <div>
                    <div class="col-4 mt-3 ms-3 rounded-5 button text-center text-white font-weight-bold robotoRegular 
            textSizeBotton p-1">
                        Encontre um curso
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 emBranco">
        </div>
    </div>
</div>